<h1>Page Contents</h1>
<table class="highlight">
  <thead>
    <tr>
    	<th>Image</th>
      	<th>Page</th>
      	<th>Content</th>
      	<th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @pagescontents.each do |pagescontent| %>
      <tr>
        <td><%= pagescontent.image %></td>
        <td><%= pagescontent.name %></td>
        <td><%= strip_tags raw pagescontent.content.truncate(250) %></td>
        <td><%= link_to 'Show', [:admin, pagescontent] %></td>
        <td><%= link_to 'Edit', edit_admin_pagescontent_path(pagescontent) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
