<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @pagescontents.image, class: 'responsive-img' %>
</p>
<p>
  <strong>Name:</strong>
  <%= @pagescontents.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @pagescontents.content %>
</p>

<%= link_to 'Edit', edit_admin_pagescontent_path(@pagescontents) %>
<%= link_to 'Back', admin_pagescontents_path %>