<div class="row">
  	<% if flash.any? %>
	    <script type="text/javascript">
	    	$(function(){Materialize.toast("<%= notice %>", 8000);});
	  	</script>
    <% end %>
	<div class="col s12 m12 l12">
		<%= link_to 'Back', admin_pagescontents_path %> | 
		<%= link_to 'Edit', edit_admin_pagescontent_path(@pagescontents) %>
	</div>
	<div class="col s12 m12 l6">
		<strong>Image:</strong><br>
  		<%= image_tag @pagescontents.image.medium, class: 'responsive-img' %>
	</div>
	<div class="col s12 m12 l6">
		<p>
		  <strong>Name:</strong>
		  <%= @pagescontents.name %>
		</p>

		<p>
		  <strong>Content:</strong>
		  <%= raw @pagescontents.content.html_safe %>
		</p>
	</div>
</div>



