<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @pagescontents.image %>
</p>
<p>
  <strong>Name:</strong>
  <%= @pagescontents.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @pagescontents.content %>
</p>

 
<%= link_to 'Back', admin_pagescontents_path %>