<div class="row">

<% if flash.any? %>
  <script type="text/javascript">
    $(function(){Materialize.toast("<%= notice %>", 8000);});
  </script>
<% end %>

<div class="col s12 m12 l12">
<%= link_to 'Back', admin_collaborators_path %> | 
<%= link_to 'Edit', edit_admin_collaborator_path(@collaborator) %>
</div>

<div class="col s12 m12 l4">
<p>
  <strong>Name:</strong>
  <%= @collaborator.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @collaborator.title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @collaborator.email %>
</p>
</div>

<div class="col s12 m12 l4">
  <strong>Image:</strong><br>
  <%= image_tag @collaborator.image, class: 'responsive-img' %>
</div>
<div class="col s12 m12 l4">
  <strong>Generated avatar:</strong><br>
  <%= image_tag @collaborator.image.medium, class: 'responsive-img' %>
</div>

</div>