<div class="navbar-fixed">
  <nav class="light-blue darken-4">
    <div class="nav-wrapper container">
      <%= link_to root_path, class: 'brand-logo', id: 'logo-container' do %>
      <% end %>
      <ul class="right hide-on-med-and-down">
		<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
		<li class="<%= 'active' if current_page?(about_path) %>"><%= link_to 'About', about_path %></li>
		<li class="<%= 'active' if current_page?(team_path) %>"><%= link_to 'Team', team_path %></li>
		<li class="<%= 'active' if current_page?(contacts_path) %>"><%= link_to 'Contacts', contacts_path %></li>
		<li class="<%= 'active' if current_page?(carrier_path) %>"><%= link_to 'Carrier', carrier_path %></li>
		<li class="<%= 'active' if current_page?(company_path) %>"><%= link_to 'Company', company_path %></li>
      </ul>

            
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<ul id="nav-mobile" class="side-nav">
	<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
	<li class="<%= 'active' if current_page?(about_path) %>"><%= link_to 'About', about_path %></li>
	<li class="<%= 'active' if current_page?(team_path) %>"><%= link_to 'Team', team_path %></li>
	<li class="<%= 'active' if current_page?(contacts_path) %>"><%= link_to 'Contacts', contacts_path %></li>
	<li class="<%= 'active' if current_page?(carrier_path) %>"><%= link_to 'Carrier', carrier_path %></li>
	<li class="<%= 'active' if current_page?(company_path) %>"><%= link_to 'Company', company_path %></li>
</ul>